.row {
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: center;
}

.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 20px;
  cursor: pointer;
}

.square:hover {
  border: 2px solid black;
}

p {
  width: 100vw;
  text-align: center;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#pink {
  background-color: pink;
}

#purple {
  background-color: purple;
}

#grey {
  background-color: grey;
}

#turquoise {
  background-color: turquoise
}

#orange {
  background-color: orange;
}

.true {
  color: green;
}

.false {
  color: red;
}